.bar {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

button {
  border: none;
  height: 30px;
  width: 40px;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #c6c6c6;
}

button.dark:hover {
  background-color: #262626;
}

img {
  background-color: transparent;
  height: auto;
  width: auto;
}

.themebtn {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
