.background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}

.kb_button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 11pt;
}

.background.operation {
  background-color: rgba(166, 166, 166, 0.25);
}

.background.operation:hover,
.background:hover {
  background-color: rgba(166, 166, 166, 0.75);
}

.background.operation:active,
.background:active {
  background-color: rgba(166, 166, 166, 0.5);
}

.badge {
  position: relative;
  right: 10px;
  top: 10px;
  height: 15px;
  width: 15px;
  background-color: green;
}
