@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/inter.ttf');
}

* {
  font-family: 'Inter';
  height: 1vh;
  width: 1vw;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-focus: none;
}
